
.about_content {
    max-width: 800px; /* Set the maximum width of the content */
    text-align: center;

}
  
.about_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.about_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* Additional styles to shape the cards */
.about_cards > :nth-child(3) {
    grid-column: span 2; /* Make the third card span two columns */
    grid-row: 2; /* Place the third card in the second row */
}

.about_card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    color: white;
    font-size: 15px;
}

.about_icon{
    color: var(--color-primary);
}

.about_content p {
    margin: 2rem 0 2.6rem;
}