.container.contact_container{
    width: 58%;
    display: grid;
    grid-template-rows: 30% 58%;
    gap: 12rem
}

.contact_options{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}

.contact_option{
    background: var(--color-primary-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transform: var(--transition);
}
